# New configuration file to experiment pre-DMA vs post-DMA contention.
# A known workload where a series of requests access different dies within
# the same channel. The goal is to verify if the new source code will 
# make pre-DMA precede all post-DMA operations.

[global]
Mode = 1
LogFile = dma_sim.log
DebugLogFile = dma_debug.log
LatencyLogFile = dma_latency.log
Interface = 0

[trace]
File = config/dma_trace.txt
TimingMode = 0
QueueDepth = 32
IOLimit = 0

Regex = "(\d+) +(\w+) +(\d+) +(\d+)"
Operation = 2
ByteOffset = 3
ByteLength = 4
LBAOffset =
LBALength =
Second =
Millisecond =
Microsecond =
Nanosecond = 1
Picosecond =
UseHexadecimal = 0